.body-background
{
background-image:url("Olympics\(2\).jpeg");
background-position:center;
background-size:cover;
}

h1
{
color:blue;;
font-size:50px;
}

#mycanvas
{
border-width:10px;
background-color:white;
border-style:ridge;
}